# Environment & secrets
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyd
*.sqlite3
db.sqlite3

# Virtualenv
venv/
env/

# Node
node_modules/
package-lock.json

# Editor/OS files
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Uploaded files directory
FILES/
